<% title "Retailers" %>

<% for retailer in @retailers %>
  <div class="retailer">
    <h3>
      <%= retailer.name %><br/>  
      <small><%= retailer.full_address %></small>
    </h3>
  </div>
<% end %>
