<% title "Retailers" %>

<h3>All Retailers</h3>
<% @retailers.each do |retailer| %>
  <div class="retailer">
    <h4>
      <%= retailer.name %><br/>  
      <small><%= retailer.full_address %></small>
    </h4>
  </div>
<% end %>
